.page-not-found {
  text-align: center;
}

p {
  font-size: 18px;
  text-transform: uppercase;
  font-family:'Times New Roman', Times, serif;
}

button {
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  background-color: #555a6354;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
